.DS_Store
node_modules
/dist

#TODO delete this part when prod
*.jpg
*.jpeg
*.png
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
